#version 1.1
appdirs==1.4.4
autopep8==1.5.4
beautifulsoup4==4.9.3
cachetools==4.2.0
certifi==2020.12.5
cfgv==3.2.0
chardet==4.0.0
click==7.1.2
colorama==0.4.4
dataclasses==0.6
distlib==0.3.1
filelock==3.0.12
future==0.18.2
geographiclib==1.50
geopy==2.0.0
google-api-core==1.24.1
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
halo==0.0.31
httplib2==0.18.1
identify==1.5.10
idna==2.10
joblib==1.0.0
log-symbols==0.0.14
lxml==4.6.2
nltk==3.5
nodeenv==1.5.0
numpy==1.19.4
packaging==20.8
pluggy==0.13.1
pre-commit==2.9.3
protobuf==3.14.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycodestyle==2.6.0
pyjokes==0.6.0
pyparsing==2.4.7
pyttsx3==2.90
pytz==2020.4
PyYAML==5.3.1
regex==2020.11.13
requests==2.25.1
rsa==4.6
scipy==1.5.4
six==1.15.0
soupsieve==2.1
SpeechRecognition==3.8.1
spinners==0.0.24
termcolor==1.1.0
toml==0.10.2
torch==1.7.0
tox==3.20.1
tqdm==4.54.1
translate==3.5.0
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.26.2
virtualenv==20.2.2
webrtcvad==2.0.10
wikipedia==1.4.0
